.sub-container {
    display: flex;
    min-width: 400px;
    flex-grow: 1
}

.field-container {
    width: 50%;
    display: flex;
    margin: 10px;
    flex-grow: 1;
}

.date-field {
    align-self:center;
    min-width: 100px;
    width: 33%;
}
