.sub-container {
    display: flex;
    width: 50%;
    flex-grow: 1;
    flex-wrap: wrap;
}

.field-container {
    width: calc( 50% - 20px);
    min-width: 300px;
    display: flex;
    margin: 10px;
    flex-grow: 1;
}

.date-field {
    align-self:center;
    min-width: 100px;
    width: 33%;
}

.optional-family-fields {
    display: flex;
    flex-direction: column;
    max-width: 400px;

}

.custom-dialog-style {
    position:absolute;
    top: 0;
}

List {
    display:inline-block;
}

